@tailwind base;
@tailwind components;
@tailwind utilities;

.image-wrapper {
    position: relative;
    margin-bottom: 20px; /* Adjust margin as needed */
  }
  
  .image {
    width: 180px; /* Adjust width of the image */
    height: auto; /* Set height to auto to maintain aspect ratio */
    margin-top: 40px;
  }
  
  .rectangular-box{
    position: absolute;
    width: 40px;
    height: 30px;
    background-color: #86dc3D;
    bottom: -60px; /* Adjust position to center the rectangle */
    left: 50%; /* Adjust position to center the rectangle */
    transform: translateX(-50%); /* Adjust position to center the rectangle */
  }
  
  .index{
    position: absolute;
    width: 40px;
    height: 30px;
    bottom: -40px; /* Adjust position to center the rectangle */
    left: 57%; /* Adjust position to center the rectangle */
    transform: translateX(-50%); /* Adjust position to center the rectangle */
  }
  
  .red-rectangular-box{
    background-color: #ff2800;
  }

  .rectangular-box{
    border-radius: 10px;
  }

  .background{
    background-color: #d9dddc;
    height: 23rem;
    margin-left: 59px;
    margin-right: 59px;
    border: 2px solid;
    margin-top: 18px;
  }

  .dashboard{
    margin-left: 59px;
    font-size: x-large;
    font-weight: 500;
    margin-top: 15px;
  }

  .Solar{
    font-size: x-large;
    font-weight: 400;
    margin-left: 30px;
    margin-top: 9px;
  }

  .divider{
    width: 95%;
  }

  .background-1{
    background-color: #d9dddc;
    height: 23rem;
    margin-left: 59px;
    margin-right: 59px;
    border: 2px solid;
    margin-top: 50px;
  }

  .Red{

  }

  .button{
    height: 3rem;
    margin-top: 7rem;
    margin-left: 10rem;
  }

  .image-container-1{
    display: flex;
  }

  .show{
    width: 14rem;

    border-radius: 15px;
  }


  .white:hover{
    background-color: #ff2800;
  }

  .image-1{
    width: 215px;
    position: relative;
    top: 3rem;
    left: 29px;
  }

  .opaque {
    display: none;
  }
  
  .card:hover .opaque {
    display: block;
    margin-left: 18px;
  }

  .booking-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .row{
    height: 29rem;
  }

  .HEader{
    background-color: #86dc3D;
    display: flex;
    gap: 18rem
  }

  .flex{

  }

  .bhai-sath-aaja{
    display: flex;
    position: relative;
left: 3rem;
gap: 112px;
  }

  .BHenKALoda{
    background-color: #86dc3D;
    display: grid;
    place-items: center;
    height: 7rem;
  }

  li{
    font-size: x-large;
font-weight: 400;
  }


.JaggaBhenKaLodaa{
  position: relative;
  background:no-repeat url('./Componets/back.jpeg') ;
}

.flex-1{
  margin-top: 22px;
}

.logo{
  width: 6rem;
}

.bg1{
  position: relative;
bottom: 5.5rem;
}

.login-bg{
  background: url(./Componets/back.jpeg) repeat;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 1rem;
}

.login{
  position: relative;
bottom: 4rem;
}

.register{
  position: relative;
  bottom: 2rem
}